.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;
  }
}

.App {
  font-family: sans-serif;
  color: #434343;
  height: 100vh;
  overflow-y: scroll;
  color: #434343;

  .topo {
    background-color: #720e30;
    text-align: center;
    height: 25rem;

    img {
      width: 10rem;
      height: auto;
      padding-top: 4rem;
    }
  }

  .stepsForm {
    background: #fff;
    padding: 0;
    display: block;
    margin: 2rem auto;
    border-radius: 18px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    max-width: 40%;
    position: relative;
    overflow: hidden;
    text-align: left;

    h1 {
      font-size: 2rem;
      text-align: center;
      padding-top: 1rem;
      color: #720e30 !important;
    }
  }

  .fieldsContainer {
    padding: 24px 24px 40px;
    width: 100%;
  }

  .field {
    margin-bottom: 16px;
  }

  .field label {
    font-size: 1.5em;
    line-height: 1em;
  }

  .field input {
    border-radius: 4px;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    color: #666;
  }

  .buttonSubmit {
    background: #720e30;
    border: 0;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;

    &:hover {
      color: #fff;
      text-decoration: none;
      filter: brightness(0.8);
    }
  }
  .btnSim {
    border: 1px solid #720e30 !important;
    border-radius: 0.2rem;
    color: #720e30 !important;
    font-weight: bold;
    width: 12rem;

    &:hover {
      background-color: #720e30;
      color: #fff !important;
    }
  }
}
